* {
    font-family: 'Work Sans';
    font-style: normal;
    margin: 0;
}

/* banner styles */
.banner {
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
}

.text-banner-container {
    position: absolute;
    text-align: right;
    top: 216px;
    bottom: 364px;
    right: 230px;
}

.text-banner-title {

    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.text-banner-des {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 34px;
}

.btn-color {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #ee4920;
    border-radius: 5px;
}

/* failures text style  */
.failures {
    display: flex;
    margin-top: 131px;
    align-items: center;
    margin-left: 206px;
    margin-right: 322px;
    gap: 87px;
}

.failures-img {
    height: 723.3px;
    width: 569px;
    padding-left: 100px;

}

.failures-text {
    text-align: justify;
    padding-left: 100px;
    padding-right: 20px;
}

.failures-title {

    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.failures-des {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}

.failures-checkmarks li {
    list-style-type: '\2713';
    /* ul li::marker {
  content: '✓';
  color: green;
}
didn't work */
}

/* My Plans style */
.my-plans {
    text-align: center;
    margin-top: 130px;
}

.plans-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 56px;
}

.plans-list {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 86px;
}

.plan-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    padding-top: 20px;

}

.plan-des {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* positive mindset style */
.positive-mindset {
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center, center;
    background-blend-mode: lighten, color-dodge;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 300px;
}

.positive-mindset-text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-left: 100px;
    padding-left: 94px;
    padding-bottom: 24px;
}

.btn-second {
    color: #ee4920;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: white;
    border-radius: 5px;
    margin-left: 190px;
    margin-top: 20px;

}

/* footer  */
footer {

    background-color: #151414;
    height: 577px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.footer-text-title {
    font-weight: 700;
    font-size: 45px;
    text-align: left;
    margin-bottom: 16px;
}

.footer-text-des {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    width: 50%;
    margin-bottom: 32px;

}

.logos {
    text-align: left;
}
.subscribe{
    height: 204px;
    width: 325px;

}
.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    text-align: left;
    margin-top: -40px;
}

.email-box{
    width: 100%;
    padding: 18px 20px;
    margin: 31px 0;
    font-weight: 500;
font-size: 18px;
    box-sizing: border-box;
    background-color: #151414;
    border-color: white;
    border-radius: 5px;
}

.btn-subscibe{
    color: #ee4920;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: white;
    border-radius: 5px;
    margin-right: 150px;
    margin-top: -16px;
}

/* new section: achievements */
.achievements{
    text-align: center;
    margin-top: 131px;
}
.achievements-img{
    display: flex;
    align-items: center ;
    justify-content:space-evenly;
}
.achievements-text{ color: #151414;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 16px;
    padding-top: 20px;
}
.achievements-des{
    margin-top: 80px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}
.achievements-img-edit{
    border-radius: 1000px;
    height: 400px;
}
